:root {
  --text: #e4edf6;
  --unselected-text: #949ba4;

  --background: #171b1d;
  --background2: #0a0e0f;
  --border: #212328;

  --primary: #85b9ea;
  --secondary: #0f599e;
  --accent: #1489f8;

  --border-size: 2px;
  --titlebar-height: 24px;
  --topbar-height: 150px;
  --serverbar-width: 75px;
  --sidebar-width: 300px;
}
