:root {
  --text: #e4edf6;

  --background: #111e2a;
  --background-bright: #192b3b;
  --background-dim: #0d1821;

  --primary: #85b9ea;
  --secondary: #0f599e;
  --accent: #1489f8;

  --titlebar-height: 26px;
  --serverbar-width: 86px;
}
