:root {
  --text: #e5ebf5;

  --background: #318db2;
  --background-bright: #2d9eb8;
  --background-dim: #003b61;

  --primary: #9ab3d8;
  --secondary: #7c3045;
  --accent: #ba7d4b;

  --titlebar-height: 26px;
  --serverbar-width: 86px;
}
