:root {
  --userpanel--padding: 10px;
}

.userpanel__container {
  width: calc(100% - var(--border-size) - var(--userpanel--padding) * 2);
  height: calc(80px - var(--userpanel--padding) * 2);
  background: var(--background);
  border-top: var(--border) var(--border-size) solid;
  border-right: var(--border) var(--border-size) solid;
  flex-shrink: 0;
  padding: var(--userpanel--padding);
}

.userpanel__user_info {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.userpanel__user_avatar {
  width: 58px;
  border-radius: 50%;
}

.userpanel__user_name {
  margin-top: 19px;
}
