.Message {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
}

.Message:hover {
  background: #eaeaea0c;
}

.Message--author-container {
  position: relative;
  display: flex;
  flex-shrink: 0;
  gap: 6px;
}

.Message--author-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.Message--author-decoration-img {
  position: absolute;
  width: 48px;
  height: 48px;
}

.Message--content-container {
  display: flex;
  flex-direction: column;
}

.Message--content {
  white-space: pre-line;
}

.Message--author-name {
  font-weight: 600;
}

.Message--attachments-container {
  display: flex;
}

.Message--gif-img {
  max-width: 300px;
  max-height: 300px;
}

.Message--reactions-container {
  margin-top: 6px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 6px;
}
